<div *ngIf="viewMode; else editable">
    <div *ngIf="currentBook.id" class="d-flex">
        <button type="button" class="btn btn-secondary btn-sm mx-1 mb-0" routerLink="{{ currentBook.id }}">Edit</button>
        <button type="button" class="btn btn-danger btn-sm mx-1 mr-0 mb-0" (click)="deleteBook()" routerLink="#">Delete</button>
    </div>
</div>

<ng-template #editable>
    <div *ngIf="currentBook.id" class="edit-form">
        <div class="alert alert-success m-4" role="alert" *ngIf="message">
            {{ message }}
        </div>
        <div class="shadow-sm p-3 mb-5 bg-body rounded p-3">
            <h4>{{ currentBook.title }}</h4>
            <form>
                <div class="form-group">
                    <label for="title">New title</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="currentBook.title" name="title" />
                </div>
                <div class="form-group">
                    <label for="description">New author</label>
                    <input type="text" class="form-control" id="author" [(ngModel)]="currentBook.author" name="author" />
                </div>

                <div class="form-group mt-4">
                    <label><strong>Read:</strong></label> {{ currentBook.read ? "True" : "False" }}
                    <button class="btn btn-outline-primary btn-sm mx-1" *ngIf="currentBook.read" (click)="updateRead(false)"> Mark as unread </button>
                    <button *ngIf="!currentBook.read" class="btn btn-outline-primary btn-sm" (click)="updateRead(true)"> Mark as read </button>
                </div>
            </form>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-danger btn-sm mx-1" (click)="deleteBook()">Delete</button>
            <button type="submit" class="btn btn-success btn-sm mx-1" (click)="updateBook()"> Update </button>
        </div>


    </div>

    <div *ngIf="!currentBook.id">
        <br />
        <p>Cannot access this Book...</p>
    </div>
</ng-template>